@import '../../assets/scss/variables';
.shape {
  border-radius: $radius-size-none;
  padding: $spacing-size-sm;
  border-width: $border-size-thin;
  border-color: $neutral-color-2;
  border-style: $border-style-solid;
  background-color: $neutral-color-1;
}
.card-content {
  .shape {
    height: 100%;
  }
  .heading-small {
    margin-bottom: $spacing-size-xxxs;
  }
  .subtitle-small {
    margin-bottom: $spacing-size-xxs;
  }
  .paragraph {
    margin-bottom: $spacing-size-sm;
  }
}
