@import '../../assets/scss/variables';
.subtitle-small{
  font-size: $font-size-md;
  line-height: $line-height-medium;
  font-family: $font-family-highlight;
  font-weight: $font-weight-medium;
  color: $neutral-color-4;
}