@import '../../assets/scss/variables';
.card-content{
  .heading-small{
    margin-bottom: $spacing-size-xxxs;
  }
  .subtitle{
    margin-bottom: $spacing-size-xxs;
  }
  .paragraph{
    margin-bottom: $spacing-size-sm;
  }
}